<!DOCTYPE html>
<html>
<head>
	<title></title>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
	<?php
	    header("Cache-Control: no-store, must-revalidate, max-age=0");
		header("Pragma: no-cache");
		header("Expires: Sat, 26 Jul 1997 05:00:00 GMT");
	?>


<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="angular.js"></script>
    
    <script type="text/javascript">
       var app=angular.module("myapp",[]);
       app.service("send_contact_details",function($http){
            this.send_details=function(v){
                
                var request = $http({ 
                     method: "post", 
                     url: "contacts_create1.php", 
                     headers:{'content-type':'application/x-www-form-urlencoded'}, 
                     transformRequest: function(obj) {
                                                  var str = [];
                                                  for(var p in obj)
                                                  {
                                                        //console.log(p);
                                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                                  }                                                      
                                                  //alert(str.join("&"));
                                                    return str.join("&");
                                            },
                     data: {
                         cname: v.name,
                         cphone: v.mobileno,
                         cmail:v.mail,                      
                         email_u:arr
                     } 
                 }); 
  
                 // Store the data-dump of the FORM scope. 
                 request.success( 
                     function( data ) { 
  
                         v.collect_contact_inf= data; 
                         alert(JSON.stringify(data));
                         //v.collect=data;
                         //alert("Group created successfully");
                         //v.onpageload();
                     } 
                 ); 


            }
       });

       app.controller("app_con",function($scope,send_contact_details){
            $scope.name="";
            $scope.mobileno="";
            $scope.mail="";
         $scope.create=function(){

                send_contact_details.send_details($scope);
            }
           
       });
    </script>






<script type="text/javascript">

     (function(){
              
            //alert(document.cookie);
            var c=document.cookie;
            var mytest1=c.split(';');
            //alert(mytest1[0]+"  "+mytest1[1]);
            console.log(document.cookie);
          //var check=document.cookie;
          var i=mytest1[0].search("=");
          i=i+1;
          if(mytest1[0].charAt(i)=="x")
          {
              //  alert("working good");
            }
            else
            {
              console.log(document.cookie);
                window.location.assign("login.html");

            }
     }());

     function delcookie()
     {
        var c=document.cookie;
        var mytest1=c.split(';');
          alert("before closing:"+mytest1[0]+" "+mytest1[1]);
          var v1=mytest1[0].substr(0,mytest1[0].search("="));
          var v2=mytest1[1].substr(0,mytest1[1].search("="));
          alert(v1+"  "+v2);
        document.cookie = mytest1[0]+"=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = mytest1[1]+"=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        alert("close");
        window.location.assign("logout.php?p1="+v1+"&p2="+v2);
     }

  </script>
</head>


<body>

<body ng-app="myapp" ng-controller="app_con" ng-init="onpageload()">
   
<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="homepage.html">Groups</a></li>
        <li class="active"><a href="savedcontactgroup.html">View Contacts</a></li>
        <li><a href="savedcontactgroup.html">Add Contact</a></li>
        <li><a href="#"><label><span>
          <script>
            var c=document.cookie;
              var mytest1=c.split(';'); 
              var j=mytest1[1].search("=");

                var arr=mytest1[1].slice(j+1,mytest1[1].length);
              
          </script></span></label></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" onclick="delcookie()"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
      </ul>
    </div>
  </div>
</nav>




<div class="container">
  <h2>Enter Contact Details</h2>
  <form name="uform" class="form-horizontal" action="insertdata.php" novalidate>

    <div class="form-group">
      <label class="control-label col-sm-2" for="Name">Name:</label>
      <div class="col-sm-10">
        <input type="text" name="name" class="form-control" ng-model="name" maxlength="20" placeholder="Enter Name.." ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,20}$/" ng-required="true"/>
               <p ng-show="uform.name.$invalid && !uform.name.$pristine">Enter valid name.</p>
      </div>
    </div>

  

    <div class="form-group">
      <label class="control-label col-sm-2" for="Mobile">Mobile:</label>
      <div class="col-sm-10">
        <input type="text" name="mobileno" class="form-control" placeholder="Enter Mobile Number.." ng-model="mobileno" maxlength="10" ng-pattern="/^[6-9][0-9]{9}$/" ng-required="true" />                        
                <p ng-show="uform.mobileno.$invalid && !uform.mobileno.$pristine && uform.mobileno.$error.pattern" >Mobile No should be 10 digits
                </p>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="Mail">Mail:</label>
      <div class="col-sm-10">
        <input type="email" name="mail" ng-model="mail" class="form-control" placeholder="example@inmar.com" ng-pattern="/^[a-zA-Z]+[a-z0-9._-]+@inmar\.com$/" />
               <p ng-show="uform.mail.$invalid && !uform.mail.$pristine">mail id should be like example@inmar.com</p>
      </div>
    </div>


    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" ng-click="create()" class="btn btn-default" ng-disabled="uform.$invalid">Submit</button>
      </div>
    </div>
  </form>
</div>

<p>{{collect_contact_inf}}</p>
</body>
</html>






