<!DOCTYPE html>
<html>
<head>
	<title></title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="angular.js"></script>
    <style type="text/css">
    	
      .create_group 
      {
        position: fixed;
        top:80%;
        left:92%;
      }
      .group_section .panel-default
      {
        float: left;
        margin-right: 2%;
        width: 25%;
      }
      .group_section .panel-default a{
        float: right;
        //display: inline-block;
      }
      .group_section .result_holder
      {
         padding-left: 10%;
         //margin:0px auto;
      }
    </style>
    <script type="text/javascript">
       var app=angular.module("myapp",[]);
       app.service("send_group_details",function($http){
            this.send_details=function(v){
                
                var request = $http({ 
                     method: "post", 
                     url: "group_create.php", 
                     headers:{'content-type':'application/x-www-form-urlencoded'}, 
                     transformRequest: function(obj) {
                                                  var str = [];
                                                  for(var p in obj)
                                                  {
                                                        //console.log(p);
                                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                                  }                                                      
                                                  alert(str.join("&"));
                                                    return str.join("&");
                                            },
                     data: { 
                         
                         gid: v.g_id,
                         gname:v.g_name,
                         owner_email:'ram@inmar.com'
                     } 
                 }); 
  
                 // Store the data-dump of the FORM scope. 
                 request.success( 
                     function( data ) { 
  
                         v.message = data; 
                         alert(JSON.stringify(data));
                         //v.collect=data;
                         alert("Group created successfully");
                         v.onpageload();
                     } 
                 ); 


            }
       });

       app.service("send_contact_details",function($http){
            this.send_details=function(v,group_id){
                
                var request = $http({ 
                     method: "post", 
                     url: "contacts_dis.php", 
                     headers:{'content-type':'application/x-www-form-urlencoded'}, 
                     transformRequest: function(obj) {
                                                  var str = [];
                                                  for(var p in obj)
                                                  {
                                                        //console.log(p);
                                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                                  }                                                      
                                                  //alert(str.join("&"));
                                                    return str.join("&");
                                            },
                     data: { 
                         
                         gid: group_id,                         
                         owner_email:'ram@inmar.com'
                     } 
                 }); 
  
                 // Store the data-dump of the FORM scope. 
                 request.success( 
                     function( data ) { 
  
                         v.collect_contact_inf= data; 
                         //alert(JSON.stringify(data));
                         //v.collect=data;
                         //alert("Group created successfully");
                         //v.onpageload();
                     } 
                 ); 


            }
       });
       app.service("delete_contact_details",function($http){
            this.delete_details=function(v,group_id,cemail,owner_email){
                //alert("by");
                var request = $http({ 
                     method: "post", 
                     url: "delcontact.php", 
                     headers:{'content-type':'application/x-www-form-urlencoded'}, 
                     transformRequest: function(obj) {
                                                  var str = [];
                                                  for(var p in obj)
                                                  {
                                                        //console.log(p);
                                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                                  }                                                      
                                                  //alert(str.join("&"));
                                                    return str.join("&");
                                            },
                     data: { 
                         
                         gid: group_id,
                         con_email:cemail,
                         owner_email:'ram@inmar.com'
                     } 
                 }); 
  
                 // Store the data-dump of the FORM scope. 
                 request.success( 
                     function( data ) { 
  
                         //v.delete_contact_inf= data; 
                          alert(data);
                          v.getcontact(group_id);
                         //v.collect=data;
                         //alert("Group created successfully");
                         //v.onpageload();
                     } 
                 ); 


            }
       });
       app.service("collect_group_info",function($http){
             this.get_group_info=function(v){

                  $http.get("send_group_info.php")
                    .then(function(response) {
                        v.collect = response.data;
                        //alert(JSON.stringify(v.collect));
                        document.getElementById('g_name').value="";
                        document.getElementById('g_id').value="";
                    });
             }
       });
            app.service("send_editcontact",function($http){
            this.send_edit_contact_details=function(v,c_name,c_phno,c_email,gid){
                //alert("by");
                var request = $http({ 
                     method: "post", 
                     url: "editcontact.php", 
                     headers:{'content-type':'application/x-www-form-urlencoded'}, 
                     transformRequest: function(obj) {
                                                  var str = [];
                                                  for(var p in obj)
                                                  {
                                                        //console.log(p);
                                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                                  }//  alert(str.join("&"));                                                  //alert(str.join("&"));
                                                    return str.join("&");
                                            },
                     data: { 
                         cname: c_name,
                         c_phno: c_phno,
                         con_email:c_email,
                         g_id: gid,
                         owner_email:'ram@inmar.com'
                     } 
                 }); 
  
                 // Store the data-dump of the FORM scope. 
                 request.success( 
                     function( data ) { 
  
                         //v.delete_contact_inf= data; 
                          alert(data);
                          v.getcontact(gid);
                         //v.collect=data;
                         //alert("Group created successfully");
                         //v.onpageload();
                     } 
                 ); 


            }
       });
       app.controller("app_con",function($scope,send_group_details,collect_group_info,send_contact_details,delete_contact_details,send_editcontact){
            $scope.g_name="";
            $scope.g_id="";
            $scope.collect="";
            $scope.group_module=false;
            $scope.contact_module=true;
            $scope.collect_contact_inf="";
            $scope.delete_contact_inf="";
            //contact details
            $scope.c_name="";
            $scope.c_phno="";
            $scope.c_email="";
            $scope.c_gid="";

            $scope.send=function(){
               //alert("hai");
               send_group_details.send_details($scope);
               console.log($scope.collect);
            }
            $scope.onpageload=function(){
              //alert("i am loaded");
              $scope.group_module=false;
              $scope.contact_module=true;                
              collect_group_info.get_group_info($scope);
            }
            $scope.getcontact=function(group_id){
                $scope.group_module=true;
                $scope.contact_module=false;                
                send_contact_details.send_details($scope,group_id);
            }
            $scope.delete_contact=function(group_id,cemail,owner_email){
              //alert("hai");
              delete_contact_details.delete_details($scope,group_id,cemail,owner_email);
            }
            $scope.edit_contact=function(cname,cphno,owneremail,cemail,gid){
                $scope.c_name=cname;
                $scope.c_phno=cphno;
                $scope.c_email=cemail;
                $scope.c_gid=gid;
                $('#modal_edit').modal('show');
            }
            $scope.send_edit_contact=function(){
               send_editcontact.send_edit_contact_details($scope,$scope.c_name,$scope.c_phno,$scope.c_email,$scope.c_gid);
            }
       });
       function reset()
       {
          document.getElementById('g_name').value="";
          document.getElementById('g_id').value="";
       }
    </script>
</head>
<body ng-app="myapp" ng-controller="app_con" ng-init="onpageload()">
   
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a id="showContacts">Contacts</a></li>
        <li><a href="#" ng-click="onpageload()">Group</a></li>      
        <li>
        	<a class="dropdown-toggle" data-toggle="dropdown" id="sortby">SortBy
        	 <span class="caret"></span>
        	</a>
        	<ul class="dropdown-menu">
        		<li><a href="#">Name</a></li>
        		<li><a href="#">email</a></li>
        	</ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
      </ul>
    </div>
      
  </div>
</nav>
<div class="create_group" ng-hide="group_module">
   <a href="#" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><img src="1.png" width="65" height="50"></a>   
</div>
<div class="container-fluid">
       <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" onclick="reset()" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Group</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label >Group Name:</label>
              <input type="text" class="form-control" id="g_name" ng-model="g_name" ng-required>
            </div>
            <div class="form-group">
              <label >Group Id:</label>
              <input type="text" class="form-control" id="g_id" ng-model="g_id" ng-required><span></span>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="send()">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--model for contact editing-->
<div class="container-fluid">
       <!-- Modal -->
  <div class="modal fade" id="modal_edit" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" onclick="reset()" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Contact</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label >Name:</label>
              <input type="text" class="form-control"  ng-model="c_name" ng-required>
            </div>
            <div class="form-group">
              <label >Phone Number:</label>
              <input type="text" class="form-control"  ng-model="c_phno" ng-required><span></span>
            </div>
            <div class="form-group">
              <label >Email:</label>
              <input type="text" class="form-control"  ng-disabled="true" ng-model="c_email" ng-required><span></span>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="send_edit_contact()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid group_section">
    <div class="row">
         <div class="col-sm-12 col-xs-12 result_holder" id="result_holder">
              <div ng-hide='contact_module'>
                    <table class="table table-striped">
                       <tr>
                          <th>Name</th>
                          <th>Ph.no</th>
                          <th>Email</th>
                          <th>Delete</th>
                          <th>Edit</th>                       
                       </tr> 
                       <tr ng-repeat="x in collect_contact_inf">
                            <td>{{x.name}}</td>
                            <td>{{x.phno}}</td>
                            <td>{{x.cemail}}</td>
                            <td><a href="#" ng-click="delete_contact(x.g_id,x.cemail,x.uemail)">delete</a></td>
                            <td><a href="#" ng-click="edit_contact(x.name,x.phno,x.uemail,x.cemail,x.g_id)">Edit</a></td>
                       </tr>
                   </table>
              </div>
              <div ng-repeat="x in collect|orderBy:group_name" name="group_module"  ng-hide='group_module'>
                    <div class="panel panel-default" >
                      <div class="panel-heading">{{x.group_name}}<a class="btn"><img src="1.png" width="20" height="20"></a></div>
                      <div class="panel-body"><a href="#" ng-click="getcontact(x.group_id)">view</a></div>
                    </div>
              </div>
         </div>
    </div>
</div>
<!--<img src="1.png" id="bt"> -->

<!--<div >
	<div>		
		<table>
			<tr>
				<td>{{name}}</td>
				<td>{{email}}</td>
				<td>{{phno}}</td>
			</tr>
		</table>
	</div>
	<div>
		<table>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>-->

</body>
</html>