<!DOCTYPE html>
<html>
<head>
	<title></title>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
	<?php
	    header("Cache-Control: no-store, must-revalidate, max-age=0");
		header("Pragma: no-cache");
		header("Expires: Sat, 26 Jul 1997 05:00:00 GMT");
	?>


<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="angular.js"></script>
    <style type="text/css">
    	
      .create_group 
      {
        position: fixed;
        top:80%;
        left:92%;
      }
      .group_section .panel-default
      {
        float: left;
        margin-right: 2%;
        width: 25%;
      }
      .group_section .panel-default a{
        float: right;
        //display: inline-block;
      }
    </style>
    <script type="text/javascript">
       var app=angular.module("myapp",[]);

       app.service("send_group_details",function($http){
            this.send_details=function(v){
                
                var request = $http({ 
                     method: "post", 
                     url: "group_create.php", 
                     headers:{'content-type':'application/x-www-form-urlencoded'}, 
                     transformRequest: function(obj) {
                                  
                                                  var str = [];
                                                  for(var p in obj)
                                                  {
                                                        //console.log(p);
                                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                                  }                                                      
                                                  //alert(str.join("&"));
                                                    return str.join("&");
                                            },
                     data: { 
                         
                         gid: v.g_id,
                         gname:v.g_name,
                         owner_email:arr
                     } 
                 }); 
  
                 // Store the data-dump of the FORM scope. 
                 request.success( 
                     function( data ) { 
                          v.onpageload();
                          v.collect=data;
                         //document.getElementById('g_id').value="";
                         //document.getElementById('g_name').value="";
                     } 
                 ); 


            }
       });




app.service("send_create_con",function($http){
            this.send_con_details=function(v){
              //  console.log(v.temp_group_id+"hai");
                var request = $http({ 
                     method: "post", 
                     url: "create_con.php", 
                     headers:{'content-type':'application/x-www-form-urlencoded'}, 
                     transformRequest: function(obj) {
                                   // alert(arr);
                                    //alert(v.c_phone);
                                                  var str = [];
                                                  for(var p in obj)
                                                  {
                                                        //console.log(p);
                                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                                  }                                                      
                                                  //alert(str.join("&"));
                                                    return str.join("&");
                                            },
                     data: {
                         cname: v.c_name,        
                         cphone:v.c_phone,
                         cmail:v.c_mail,
                         groupid:v.temp_group_id,
                         owner_email:arr
                     } 
                 }); 
  
                 // Store the data-dump of the FORM scope. 
                 request.success( 
                     function( data ) { 
                          v.onpageload();
                         v.retrieve=data; 
                         //document.getElementById('g_id').value="";
                         //document.getElementById('g_name').value="";
                     } 
                 ); 


            }
       });











    app.service("collect_group_info",function($http){
            this.get_group_info=function(v){
                
                var request = $http({ 
                     method: "post", 
                     url: "send_group_info.php", 
                     headers:{'content-type':'application/x-www-form-urlencoded'}, 
                     transformRequest: function(obj) {
                                                  var str = [];
                                                  for(var p in obj)
                                                  {
                                                        //console.log(p);
                                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                                  }                                                      
                                                  //alert(str.join("&"));
                                                    return str.join("&");
                                            },
                     data: { 

                         owner_email:arr
                     } 
                 }); 
  
                 // Store the data-dump of the FORM scope. 
                 request.success(
                     function( data ) {
                         v.collect=data;
                         //alert("Group created successfully");
                         //v.onpageload();
                         //document.getElementById('g_id').value="";
                         //document.getElementById('g_name').value="";
                     } 
                 ); 
            }
       });
    app.service("group_contact_info",function($http){
            this.group_contact_infor=function(v,group_id){                
                var request = $http({ 
                     method: "post", 
                     url: "send_group_infor.php", 
                     headers:{'content-type':'application/x-www-form-urlencoded'}, 
                     transformRequest: function(obj) {
                                                  var str = [];
                                                  for(var p in obj)
                                                  {
                                                        //console.log(p);
                                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                                  }                                                      
                                                  //alert(str.join("&"));
                                                    return str.join("&");
                                            },
                     data: { 
                         groupid:group_id
                     } 
                 }); // Store the data-dump of the FORM scope. 
                 request.success(
                     function( data ) { 
//alert("data recieved");//alert(data); //v.message = data; //alert(JSON.stringify(data));//alert(data);
v.recieve=data;
//alert("Group created successfully");//v.onpageload();//document.getElementById('g_id').value="";//document.getElementById('g_name').value="";
       } 
                 ); 
            }
       });
app.service("delete_contact_info",function($http){
            this.delete_contact_details=function(v,groupid,name,phone,email_c,email_u){
                
                var request = $http({ 
                     method: "post", 
                     url: "delete_contact.php", 
                     headers:{'content-type':'application/x-www-form-urlencoded'}, 
                     transformRequest: function(obj) {
                               // alert(groupid);
                                                  var str = [];
                                                  for(var p in obj)
                                                  {
                                                        //console.log(p);
                                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                                  }                                                      
                                               //   alert(str.join("&"));
                                                    return str.join("&");
                                            },
                     data: { 
                         groupid:groupid,
                         name:name,
                         phone:phone,
                         email_c:email_c,
                         email_u:email_u
                     } 
                 }); 
  
                 // Store the data-dump of the FORM scope. 
                 request.success(
                     function( data ) { 
              //alert("data recieved");
              //alert(data); 
                         //v.message = data; 
                         //alert(JSON.stringify(data));
                        // alert(data);
                         v.recieve=data;
                         //alert("Group created successfully");
                         //v.onpageload();
                         //document.getElementById('g_id').value="";
                         //document.getElementById('g_name').value="";
                     } 
                 ); 


            }
       });



       app.controller("app_con",function($scope,delete_contact_info,group_contact_info,send_create_con,send_group_details,collect_group_info){
            $scope.c_name="";
            $scope.c_phone="";
            $scope.c_mail="";
            $scope.g_name="";
            $scope.g_id="";
            $scope.collect="";
            $scope.recieve="";
            $scope.retrieve="";
            $scope.temp_group_id="";
            //$scope.temp_group_id="";
            $scope.send=function(){
               //alert("hai");
               send_group_details.send_details($scope);
               console.log($scope.collect);
            }
            $scope.deletecontact=function(groupid,name,phone,email_c,email_u){
              $scope.groups=true;
              $scope.contacts=false;
              delete_contact_info.delete_contact_details($scope,groupid,name,phone,email_c,email_u);
            }
            $scope.send_contact=function(){
               //alert("hai");
              // alert($scope.temp_group_id);
               send_create_con.send_con_details($scope);
               //console.log($scope.collect);
            }
            $scope.onpageload=function(){
              $scope.groups=false;
              $scope.contacts=true;
              //alert("i am loaded");s
              collect_group_info.get_group_info($scope);
            }
            $scope.getcontact=function(group_id){
              $scope.groups=true;
              $scope.contacts=false;
              group_contact_info.group_contact_infor($scope,group_id);
                //console.log(group_id);
            }
            $scope.get_group_id=function(group_id){
                //console.log(tempgroup_id);
                $scope.temp_group_id=group_id;
                $('#myModal11').modal('show');
                //console.log(group_id);
            }
       });
    </script>






	<script type="text/javascript">

	   (function(){
              
	   	      //alert(document.cookie);
	   	      var c=document.cookie;
           // alert(c);
	   	      var mytest1=c.split(';');
	   	      //alert(mytest1[0]+"  "+mytest1[1]);

	   	      var j=mytest1[1].search("=");
              var arr=mytest1[1].slice(j+1,mytest1[1].length);
              var k=arr.search("%");
              var email_of_user=arr.slice(0,j);
              var email_of_user=email_of_user.concat("@inmar.com");
              //alert(email_of_user);
             // alert("hai new user");
             // alert(arr);

	   	      console.log(document.cookie);
	   		  //var check=document.cookie;
	   		  var i=mytest1[0].search("=");
	   		  i=i+1;
          alert(mytest1[0].charAt(i));
	   		  if(mytest1[0].charAt(i)=="x")
	   		  {
          			//alert("working good");
	          }
       		  else
       		  {
       		  	console.log(document.cookie);
              alert("no cookie");
       	      	window.location.assign("login.html");

       		  }
	   }());

	   function delcookie()
	   {
	   	  var c=document.cookie;
	   	  var mytest1=c.split(';');
         // alert("before closing:"+mytest1[0]+" "+mytest1[1]);
          var v1=mytest1[0].substr(0,mytest1[0].search("="));
          var v2=mytest1[1].substr(0,mytest1[1].search("="));
          //alert(v1+"  "+v2);
	   	  document.cookie = mytest1[0]+"=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
	   	  document.cookie = mytest1[1]+"=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
	   	 // alert("close");
	   	  window.location.assign("logout.php?p1="+v1+"&p2="+v2);
	   }
	</script>
</head>
<body>

<body ng-app="myapp" ng-controller="app_con" ng-init="onpageload()">
<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="homepage.html">Groups</a></li>
        <li><a href="savedcontactgroup.html">View Contacts</a></li>
        <li><a href="con_create.html">Add Contact</a></li>
        <li><a href="#"><label><span>
          <script>
            var c=document.cookie;
              var mytest1=c.split(';'); 
              var j=mytest1[1].search("=");

                var arr=mytest1[1].slice(j+1,mytest1[1].length);
              
          </script></span></label></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" onclick="delcookie()"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
      </ul>
    </div>
  </div>
</nav>
  





<div class="create_group">
   <a href="#" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><img src="addButton.png" width="65" height="50"></a>   
</div>
<div class="container-fluid">
       <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Group</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label >Group Name:</label>
              <input type="text" class="form-control" id="g_name" ng-model="g_name">
            </div>
            <div class="form-group">
              <label >Group Id:</label>
              <input type="text" class="form-control" id="g_id" ng-model="g_id">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="send()">Create</button>
        </div>
      </div>
      
    </div>
  </div>
</div>






<div class="container-fluid">
       <!-- Modal -->
  <div class="modal fade" id="myModal11" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Contact</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label >Contact Name:</label>
              <input type="text" class="form-control" id="c_name" ng-model="c_name">
            </div>
            <div class="form-group">
              <label >Phone:</label>
              <input type="text" class="form-control" id="c_phone" ng-model="c_phone">
            </div>
            <div class="form-group">
              <label >Mail:</label>
              <input type="mail" class="form-control" id="c_mail" ng-model="c_mail">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="send_contact()">Create</button>
        </div>
      </div>
      
    </div>
  </div>
</div>









<!--
<div class="container-fluid group_section">
    <div class="row">
         <div class="col-sm-12 col-xs-12">
              <div ng-repeat="x in collect|orderBy:groupname">
                    <div class="panel panel-default" >
                      <div class="panel-heading">{{x.groupname}}<a class="btn"><img src="addButton.png" width="20" height="20"></a></div>
                      <div class="panel-body"><a href="#" ng-click="getcontact(x.groupid)">view more....</a></div>
                    </div>
              </div>
         </div>
    </div>
</div>-->

<div class="container" ng-hide="groups">
    <div class="row">
         <div class="col-sm-12 col-xs-12">
            <table class="table table-striped">  
              <thead>
                    <tr>
                      <th>Group Name</th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <!--<th>Add New Contact</th>
                      <th>Delete Group</th>
                      <th>Edit </th>

                            <td><b><a href="#" ng-click="getcontact(x.groupid) data-toggle="modal" data-target="#myModal11"">Add Contact</a></b></td>-->
                    </tr>
              </thead>

              <tbody>
                          <tr ng-repeat="x in collect|orderBy:groupname">
                            <td ><b>{{x.groupname}}</b></td>
                            <td><b><a href="#"  data-toggle="modal" ng-click="get_group_id(x.groupid)">Add Contact</a></b></td>
                            <td ><b><a href="#" ng-click="getcontact(x.groupid)">view more....</a></b></td>
                            <td></td>
                          </tr>
              </tbody>
            </table>
         </div>
    </div>
</div>







<div class="container-fluid group_section" ng-hide="contacts">
    <div class="row">
         <div class="col-sm-12 col-xs-12">
            <table class="table table-striped">  
              <thead>
                    <tr>
                      <th>Name</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th></th>
                      <th></th>
                    </tr>
              </thead>
              <tbody>
                          <tr ng-repeat="x in recieve|orderBy:name">
                            <td name="conname1">{{x.name}}</td>
                            <td name="conphn">{{x.phone}}</td>
                            <td name="conmail">{{x.email_c}}</td>
                            <td><a href="#">edit</a></td>
                            <td><a href="#" ng-click="deletecontact(x.groupid,x.name,x.phone,x.email_c)">delete</a></td>
                          </tr>
              </tbody>
            </table>
         </div>
    </div>
</div>





</body>
</html>