<!DOCTYPE html>
<html>
<head>
	<title></title>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
	<?php
	    header("Cache-Control: no-store, must-revalidate, max-age=0");
		header("Pragma: no-cache");
		header("Expires: Sat, 26 Jul 1997 05:00:00 GMT");
	?>


<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="angular.js"></script>
    
    <script type="text/javascript">
       var app=angular.module("myapp",[]);

    app.service("collect_group_info",function($http){
            this.get_group_info=function(v){
                
                var request = $http({ 
                     method: "post", 
                     url: "send_contact_info.php", 
                     headers:{'content-type':'application/x-www-form-urlencoded'}, 
                     transformRequest: function(obj) {
                                                  var str = [];
                                                  for(var p in obj)
                                                  {
                                                        //console.log(p);
                                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                                  }                                                      
                                                  //alert(str.join("&"));
                                                    return str.join("&");
                                            },
                     data: { 

                         owner_email:'ram@inmar.com'
                     } 
                 }); 
  
                 // Store the data-dump of the FORM scope. 
                 request.success( 
                     function( data ) { 
                          //alert("data recieved");
                         // alert(data); 
                         //v.message = data; 
                         //  alert(JSON.stringify(data));
                         //  alert(data);
                         v.collect=data;
                         //alert("Group created successfully");
                         //v.onpageload();
                         //document.getElementById('g_id').value="";
                         //document.getElementById('g_name').value="";
                     } 
                 ); 
            }
       });





          app.service("collect_group_data",function($http){
            this.get_group_data=function(v){
                
                var request = $http({ 
                     method: "post", 
                     url: "send_contact_data.php", 
                     headers:{'content-type':'application/x-www-form-urlencoded'}, 
                     transformRequest: function(obj) {
                                                  var str = [];
                                                  for(var p in obj)
                                                  {
                                                        //console.log(p);
                                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                                                  }                                                      
                                                  //alert(str.join("&"));
                                                    return str.join("&");
                                            },
                     data: { 

                         owner_email:'ram@inmar.com'
                     } 
                 }); // Store the data-dump of the FORM scope. 
                 request.success( 
                     function( data1 ) { 
                         // alert("data recieved");
                          //alert(data1); 
                         //v.message = data; 
                          // alert(JSON.stringify(data1));
                          // alert(data1);
                         v.collect1=data1;
                         //alert("Group created successfully");
                         //v.onpageload();
                         //document.getElementById('g_id').value="";
                         //document.getElementById('g_name').value="";
                     } 
                 ); 
            }
       });
          /*
       app.service("collect_group_data",function($http){
             this.get_group_data=function(v){

                  $http.get("send_group_data.php")
                    .then(function(response) {

                        v.collect = response.data;
                        //alert(JSON.stringify(v.collect));
                    });
             }
       });*/


       app.controller("app_con",function($scope,collect_group_info,collect_group_data){
            $scope.name="";
            $scope.phone="";
            $scope.email="";
            $scope.collect="";
            $scope.collect1="";
            $scope.send=function(){
               //alert("hai");
               send_group_details.send_details($scope);
               console.log($scope.collect);
            }
            $scope.onpageload=function(){
              collect_group_info.get_group_info($scope);
            }
            $scope.datacon=function(){
             // alert("hai");      
              collect_group_data.get_group_data($scope);
            }
            $scope.getcontact=function(group_id){
                console.log(group_id);
            }
       });
    </script>






<script type="text/javascript">

     (function(){
              
            //alert(document.cookie);
            var c=document.cookie;
            var mytest1=c.split(';');
            //alert(mytest1[0]+"  "+mytest1[1]);
            console.log(document.cookie);
          //var check=document.cookie;
          var i=mytest1[0].search("=");
          i=i+1;
          if(mytest1[0].charAt(i)=="x")
          {
              //  alert("working good");
            }
            else
            {
              console.log(document.cookie);
                window.location.assign("login.html");

            }
     }());

     function delcookie()
     {
        var c=document.cookie;
        var mytest1=c.split(';');
         // alert("before closing:"+mytest1[0]+" "+mytest1[1]);
          var v1=mytest1[0].substr(0,mytest1[0].search("="));
          var v2=mytest1[1].substr(0,mytest1[1].search("="));
          //alert(v1+"  "+v2);
        document.cookie = mytest1[0]+"=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = mytest1[1]+"=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        //alert("close");
        window.location.assign("logout.php?p1="+v1+"&p2="+v2);
     }

     function clicki()
     {
      var check = document.getElementsByName("consle");
    var name = document.getElementsByName("conname");
    var phn = document.getElementsByName("conphn");
    var email = document.getElementsByName("conmail");
    var bill1=new Array();
    //var bill2=new Array();
    //var bill3=new Array();
    var var1,var2;
    for (i = 0; i < check.length; i++) {
        if (check[i].checked) {
            bill1.push(name[i].value);
            alert(bill1[i]);
            //alert(c3[i].value);
          /*  
            var1 = c2[i].value;
            var2 = c3[i].value;
            //ssalert(c3[0].value);

            temp = var1 * var2 ;
            //temp= (c2[i].value * c3[i].value) ;
            bill2.push(temp);

            sum=sum+temp; 
            //console.log(co[i].value);*/
        }
    }
     }
  </script>
</head>


<body>

<body ng-app="myapp" ng-controller="app_con" ng-init="onpageload()">
   
<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>  
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="homepage.html">Groups</a></li>
        <li class="active"><a href="savedcontactgroup.html">View Contacts</a></li>
        <li><a href="con_create.html">Add Contact</a></li>
        <li><a href="#"><label><span>
          <script>
            var c=document.cookie;
              var mytest1=c.split(';'); 
              var j=mytest1[1].search("=");

                var arr=mytest1[1].slice(j+1,mytest1[1].length);
              
          </script></span></label></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" onclick="delcookie()"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid group_section">
    <div class="row">
         <div class="col-sm-12 col-xs-12">
            <table class="table table-striped">  
              <thead>
                    <tr>
                      <th><form></th>
                      <th>Name</th>
                      <th>Phone</th>
                      <th>Email</th>
                    </tr>
              </thead>
              <tbody>
                          <tr ng-repeat="x in collect|orderBy:name">
                            <td><input type="checkbox" name="consle"></td>
                            <td name="conname1" ><input type="text" name="conname" value='{{x.name}}' disabled></td>
                            <td name="conphn">{{x.phone}}</td>
                            <td name="conmail">{{x.email}}</td>
                          </tr>
              </tbody>
            </table>
         </div>
    </div>
</div>

<div class="container-fluid group_section">
    <div class="row">
         <div class="col-sm-12 col-xs-12">
            <button type="button" ng-click="datacon()">Add to group</button>
         </div>
    </div>
</div>

<div class="container-fluid group_section">
    <div class="row">
         <div class="col-sm-12 col-xs-12">
            <table class="table table-striped">  
              <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
              </thead>
              <tbody>
                          <tr ng-repeat="x in collect1|orderBy:groupname">
                            <td><input type="radio" name="contact"></td>
                            <td >{{x.groupname}}</td>
                            <td >{{x.groupid}}</td>
                          </tr>
              </tbody>
            </table>
         </div>
    </div>
</div>
<button type="button" onclick="clicki()">Add to group</button>



</body>
</html>






